*.iml
.idea/*
/src/main/resources/public/
.idea/
target/classes/public/fakeimages/books/10.jpg
target/classes/public/fakeimages/books/6.jpg
target/classes/public/fakeimages/books/7.jpg
target/classes/public/fakeimages/books/8.jpg
target/classes/public/fakeimages/books/9.jpg
target/classes/public/fakeimages/clothing/10.jpg
target/classes/public/fakeimages/clothing/6.jpg
target/classes/public/fakeimages/clothing/7.jpg
target/classes/public/fakeimages/clothing/8.jpg
target/classes/public/fakeimages/clothing/9.jpg
target/classes/public/fakeimages/computers/10.jpg
target/classes/public/fakeimages/computers/6.jpg
target/classes/public/fakeimages/computers/7.jpg
target/classes/public/fakeimages/computers/8.jpg
target/classes/public/fakeimages/computers/9.jpg
target/classes/public/fakeimages/electronic/6.jpg
target/classes/public/fakeimages/electronic/7.jpg
target/classes/public/fakeimages/games/10.jpg
target/classes/public/fakeimages/games/6.jpg
target/classes/public/fakeimages/games/7.jpg
target/classes/public/fakeimages/games/8.jpg
target/classes/public/fakeimages/games/9.jpg
target/classes/public/fakeimages/home/10.jpg
target/classes/public/fakeimages/home/11.jpg
target/classes/public/fakeimages/home/12.jpg
target/classes/public/fakeimages/home/6.jpg
target/classes/public/fakeimages/home/7.jpg
target/classes/public/fakeimages/home/7.png
target/classes/public/fakeimages/home/9.jpg
target/classes/public/fakeimages/jewelery/10.jpg
target/classes/public/fakeimages/jewelery/6.jpg
target/classes/public/fakeimages/jewelery/7.jpg
target/classes/public/fakeimages/jewelery/8.jpg
target/classes/public/fakeimages/jewelery/9.jpg
target/classes/public/fakeimages/kids/10.jpg
target/classes/public/fakeimages/kids/6.jpg
target/classes/public/fakeimages/kids/7.jpg
target/classes/public/fakeimages/kids/8.jpg
target/classes/public/fakeimages/kids/9.jpg
target/classes/public/fakeimages/movies/10.jpg
target/classes/public/fakeimages/movies/11.jpg
target/classes/public/fakeimages/movies/6.jpg
target/classes/public/fakeimages/movies/7.jpg
target/classes/public/fakeimages/movies/8.jpg
target/classes/public/fakeimages/movies/9.jpg
target/classes/public/fakeimages/outdoors/10.jpg
target/classes/public/fakeimages/outdoors/5.jpg
target/classes/public/fakeimages/outdoors/6.jpg
target/classes/public/fakeimages/outdoors/7.jpg
target/classes/public/fakeimages/outdoors/8.jpg
target/classes/public/fakeimages/outdoors/9.jpg
target/classes/public/fakeimages/shoes/10.jpg
target/classes/public/fakeimages/shoes/6.jpg
target/classes/public/fakeimages/shoes/7.jpg
target/classes/public/fakeimages/shoes/8.jpg
target/classes/public/fakeimages/shoes/9.jpg
target/classes/public/fakeimages/sport/10.jpg
target/classes/public/fakeimages/sport/6.jpg
target/classes/public/fakeimages/sport/7.jpg
target/classes/public/fakeimages/sport/8.jpg
target/classes/public/fakeimages/sport/9.jpg
target/classes/public/images/
target/generated-sources/
target/generated-test-sources/
